extends layout

block content
  
  .container
    h1= title
    
    .card
      .card-content
        .card-title Add New User 
        
        form(method="POST", action="/add-user")
          .input-field
            input(name="name", type="text")
            label(for="name") Name
          .input-field
            input(name="email", type="text")
            label(for="email") Email
          input.btn.btn-primary(type="submit", value="Add")