extends layout

block content
  
  .container
    .card
      .card-content
        .card-title
          h3 AE API: 
        .card-content
          p This page does not exist

          h5 Response
          h5= error.status + ': ' + message 

          if true
            pre #{error.stack} 