doctype html
html
  head
    title AE API
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    
  body#top
    nav.teal
      .container
        .nav-wrapper
          a.brand-logo.left(href='/') AE API
          ul#nav-mobile.right
            li
              a(href='/customers') Customers
            li
              a(href='/calls') Calls
            li
              a(href='/users') Users
    .content
      block content

    footer.page-footer.teal
      .footer-copyright
        .container
          | © 2018
          a.grey-text.text-lighten-4.right(href='#top') Go To Top



  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/materialize/dist/js/materialize.min.js")
  script(src="/js/main.js")
  