extends layout

block content

    .container
        .card
            .card-content

                h3.card-title.bold Users List
                .card-action
                    a.right(href='/add-user') Add User
                
                .container
                    .collection
                        each user, i in users
                            a.collection-item(href="/user/" + user._id) #{ user.name }


                                